* {
    padding: 0;
    margin: 0;
}

html , body {
    width: 100%;
    height: 100%:
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 0%;
}

html {
    background-color: rgba(246,255,246,1);
}

#letter {
    font-size: 120px;
    font-family: Helvetica;
    font-weight: Bold;
    color: rgba(18,22,26,0.7);
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 1;
    z-index: 15;
}

#description {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    font-family: Helvetica;
    font-weight: 200;
    color: rgba(18,22,26,0.7);
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}

#animation {
    position: absolute;
    margin-top: -60px;
    top: 50%;
    left: 50%;
    -webkit-transform: scale( 1.5 , 1.5 );
}

.fire {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    z-index: 10;
    margin-top: -30px;
    margin-left: -10px;
}

.fire .top , .fire .middle , .fire .bottom {
    position: absolute;
}

.fire .top {
    margin-top:-10px;
    -webkit-transform: scale( 0.8 , 0.8 );
    -moz-transform: scale( 0.8 , 0.8 );
    -ms-transform: scale( 0.8 , 0.8 );
    -o-transform: scale( 0.8 , 0.8 );
    transform: scale( 0.8 , 0.8 );
}

.fire .middle {
    margin-top:-5px;
}

.fire .bottom div {
    position: absolute;
    border-bottom: 80px solid rgba(255,90,5,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 80px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.fire .middle div {
    position: absolute;
    border-bottom: 80px solid rgba(255,160,15,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 70px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.fire .top div {
    position: absolute;
    border-bottom: 80px solid rgba(255,210,25,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 70px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.fire .top div:nth-of-type(1){
    margin-top: -70px;
    margin-left: -13px;
    animation: fire 1.7s ease 0.5s infinite alternate none;
	-webkit-animation: fire 1.7s ease 0.5s infinite alternate none;
}

.fire .top div:nth-of-type(2){
    margin-top: -72px;
    margin-left: -25px;
    animation: fire 1.15s ease 0.1s infinite alternate none;
	-webkit-animation: fire 1.15s ease 0.1s infinite alternate none;
}

.fire .top div:nth-of-type(3){
    margin-top: -80px;
    margin-left: -45px;
    animation: fire 1.65s ease 0s infinite alternate none;
	-webkit-animation: fire 1.65s ease 0s infinite alternate none;
}


.fire .middle div:nth-of-type(4){
    margin-top: -50px;
    margin-left: -35px;
    animation: fire 1.25s ease 1s infinite alternate none;
	-webkit-animation: fire 1.25s ease 1s infinite alternate none;
}

.fire .middle div:nth-of-type(1){
    margin-top: -70px;
    margin-left: -13px;
    animation: fire 1.05s ease 0.5s infinite alternate none;
	-webkit-animation: fire 1.05s ease 0.5s infinite alternate none;
}

.fire .middle div:nth-of-type(2){
    margin-top: -59px;
    margin-left: -55px;
    animation: fire 1.75s ease 0.1s infinite alternate none;
	-webkit-animation: fire 1.75s ease 0.1s infinite alternate none;
}

.fire .middle div:nth-of-type(3){
    margin-top: -75px;
    margin-left: -35px;
    animation: fire 1.35s ease 0s infinite alternate none;
	-webkit-animation: fire 1.35s ease 0s infinite alternate none;
}

.fire .bottom div:nth-of-type(4){
    margin-top: -50px;
    margin-left: -15px;
    animation: fire 1.15s ease 1s infinite alternate none;
	-webkit-animation: fire 1.15s ease 1s infinite alternate none;
}

.fire .bottom div:nth-of-type(1){
    margin-top: -40px;
    margin-left: -62px;
    animation: fire 1.45s ease 0.5s infinite alternate none;
	-webkit-animation: fire 1.45s ease 0.5s infinite alternate none;
}

.fire .bottom div:nth-of-type(2){
    margin-top: -40px;
    margin-left: 5px;
    animation: fire 1.65s ease 0.1s infinite alternate none;
	-webkit-animation: fire 1.65s ease 0.1s infinite alternate none;
}

.fire .bottom div:nth-of-type(3){
    margin-top: -35px;
    margin-left: -35px;
    animation: fire 2.35s ease 0s infinite alternate none;
	-webkit-animation: fire 2.35s ease 0s infinite alternate none;
}

.logs {
    z-index: -1;
    margin-top: 10px;
}

.logs div:nth-of-type(1) {
    -webkit-transform: translate( -30px , -5px ) rotate( 35deg );
    -moz-transform: translate( -30px , -5px ) rotate( 35deg );
    -ms-transform: translate( -30px , -5px ) rotate( 35deg );
    -o-transform: translate( -30px , -5px ) rotate( 35deg );
    transform: translate( -30px , -5px ) rotate( 35deg );
    z-index: -2;
    background-color: rgba(90,86,82,1);
}

.logs div:nth-of-type(1):before {
    background-color: rgba(90,86,82,1);
    z-index: -1;
}

.logs div:nth-of-type(3) {
    -webkit-transform: translate( 30px , -5px ) rotate( -35deg );
    -moz-transform: translate( 30px , -5px ) rotate( -35deg );
    -ms-transform: translate( 30px , -5px ) rotate( -35deg );
    -o-transform: translate( 30px , -5px ) rotate( -35deg );
    transform: translate( 30px , -5px ) rotate( -35deg );
    background-color: rgba(60,56,52,1);
    z-index: -2;
}

.logs div:nth-of-type(3):before {
    background-color: rgba(60,56,52,1);
}

.logs div:nth-of-type(1):after , .logs div:nth-of-type(3):after {
    -webkit-transform: scale( 1 , 0.2 );
    -moz-transform: scale( 1 , 0.2 );
    -ms-transform: scale( 1 , 0.2 );
    -o-transform: scale( 1 , 0.2 );
    transform: scale( 1 , 0.2 );
}

.logs div {
    background-color: rgba(80,76,72,1);
    width: 40px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: 25px;
}

.logs div:before {
    background-color: rgba(80,76,72,1);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    content:"";
    -webkit-transform: scale( 1 , 0.35 );
    -moz-transform: scale( 1 , 0.35 );
    -ms-transform: scale( 1 , 0.35 );
    -o-transform: scale( 1 , 0.35 );
    transform: scale( 1 , 0.35 );
    margin-top:-20px;
}

.logs div:after {
    background-color: rgba(210,186,172,1);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    content:"";
    -webkit-transform: scale( 1 , 0.35 );
    -moz-transform: scale( 1 , 0.35 );
    -ms-transform: scale( 1 , 0.35 );
    -o-transform: scale( 1 , 0.35 );
    transform: scale( 1 , 0.35 );
    margin-top:60px;
}

@keyframes fire {
	66% { -webkit-transform: rotate(-6deg) scale(0.9,0.9); -moz-transform: rotate(-6deg) scale(0.9,0.9); -ms-transform: rotate(-6deg) scale(0.9,0.9); -o-transform: rotate(-6deg) scale(0.9,0.9); transform: rotate(-6deg) scale(0.9,0.9); opacity: 1;}
	100% { -webkit-transform: rotate(4deg) scale(0.7,0.7); -moz-transform: rotate(4deg) scale(0.7,0.7); -ms-transform: rotate(4deg) scale(0.7,0.7); -o-transform: rotate(4deg) scale(0.7,0.7); transform: rotate(4deg) scale(0.7,0.7); opacity: 0.7;}
	0% { -webkit-transform: rotate(-5deg) scale(0.8,0.8); -moz-transform: rotate(-5deg) scale(0.8,0.8); -ms-transform: rotate(-5deg) scale(0.8,0.8); -o-transform: rotate(-5deg) scale(0.8,0.8); transform: rotate(-5deg) scale(0.8,0.8); opacity: 0.7;}
	26% { -webkit-transform: rotate(3deg) scale(1,1); -moz-transform: rotate(3deg) scale(1,1); -ms-transform: rotate(3deg) scale(1,1); -o-transform: rotate(3deg) scale(1,1); transform: rotate(3deg) scale(1,1); opacity: 0.9;}
}

@-webkit-keyframes fire {
	66% { -webkit-transform: rotate(-6deg) scale(0.9,0.9); -moz-transform: rotate(-6deg) scale(0.9,0.9); -ms-transform: rotate(-6deg) scale(0.9,0.9); -o-transform: rotate(-6deg) scale(0.9,0.9); transform: rotate(-6deg) scale(0.9,0.9); opacity: 1;}
	100% { -webkit-transform: rotate(4deg) scale(0.7,0.7); -moz-transform: rotate(4deg) scale(0.7,0.7); -ms-transform: rotate(4deg) scale(0.7,0.7); -o-transform: rotate(4deg) scale(0.7,0.7); transform: rotate(4deg) scale(0.7,0.7); opacity: 0.7;}
	0% { -webkit-transform: rotate(-5deg) scale(0.8,0.8); -moz-transform: rotate(-5deg) scale(0.8,0.8); -ms-transform: rotate(-5deg) scale(0.8,0.8); -o-transform: rotate(-5deg) scale(0.8,0.8); transform: rotate(-5deg) scale(0.8,0.8); opacity: 0.7;}
	26% { -webkit-transform: rotate(3deg) scale(1,1); -moz-transform: rotate(3deg) scale(1,1); -ms-transform: rotate(3deg) scale(1,1); -o-transform: rotate(3deg) scale(1,1); transform: rotate(3deg) scale(1,1); opacity: 0.9;}
}
