html{
	margin: auto;
	max-width: 2000px;
}

h1, h2, h3 {
	font-family: times, serif;
	color: #386520;
}

h1{
	font-size: 250%;
}

h2{
	font-size: 170%;
}

h3{
	font-size: 150%;
}

p, li{
	font-family: arial. sans-serif;
}

p{
	font-size: 100%;
	line-height: 1.5em;
}

li{
	font-size: 90%;
	color: #224594;
}

.photos img{
	max-width: 100%;
}